<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- For Android 9 and below when writing to public Downloads -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SmartHotelApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHotelApp"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".TestConnectionActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".NetworkFinderActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".GetStartedActivity"
            android:exported="false" />

        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RoomDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".AddClientActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".ClientsListActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".AddGuestsActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".AddBookingActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />
        
        <activity
            android:name=".GuestListActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".NextStepActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".RoomSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".ConfirmBookingActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />
        
        <activity
            android:name=".BookingDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />
        
        <activity
            android:name=".BookingsInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".GuestDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".RevenueReportActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartHotelApp" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:configChanges="uiMode|locale|layoutDirection|screenLayout"
            android:theme="@style/Theme.SmartHotelApp" />
    </application>

</manifest>